
body {
  overflow: hidden;
  background-color: rgba(0, 21, 156, 0.732);
}
.navbar {
  background: rgba(255, 255, 255, 0.32) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.card {
  background: rgba(255, 255, 255, 0.131);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.form-control {
  background: rgba(49, 49, 49, 0.069);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  color: black;
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.alert {
  width: 50%;
  margin: 0 auto;
  transition: opacity 1.5s;
}

span:hover {
  cursor: pointer;
}

.inside {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.font {
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 50vw;
  height: calc(100vh - 100px);
  overflow: hidden;
  width: 100%;
  font-weight: 900;
  color: #1c2765;
}
.create-note {
  color: #1c2765;
  font-weight: 600;
}
.note {
  font-size: 1.2em;
  color: #1c2765;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.089);
}
h4{
  font-weight: 700;
}
.form-control:focus {
  background: rgba(255, 255, 255, 0.274) !important;
  color: #1c2765 !important;
}
.card-subtitle{
  color: rgba(240, 248, 255, 0.437) !important;
}
.card-title{
  font-size: 1.2em;
  font-weight: 800;
}
