//colors
$font-background-color: rgba(0, 21, 156, 0.732);
$main-text-color: #1c2765;

//style
$borders: 1px solid rgba(255, 255, 255, 0.3);
$box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
$backdrop-filter: blur(5px);
